@import '../../styles/common-styles.less';


.input-full-width {
    width: 100%;
    line-height: 1.0 !important;   
}

.form-error {
  padding-top : 5px;
}

input {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
