.form-content {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}
.form-content .form-control {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}
.form-content textarea.form-control {
  max-width: 100%;
}
