<div class="container">
  <div class="form-content">
    <h2>Contact Us</h2>

    <form (ngSubmit)="submitForm()" novalidate>

      <div class="form-group" [class.has-error]="fullName.invalid && fullName.touched">
        <label class="control-label" for="fullNameId">Name</label>
        <input #fullName="ngModel" id="fullNameId" maxlength="200" type="text" class="form-control" required placeholder="Name" name="fullName"
          [ngModel]="model.fullName" (ngModelChange)="fullNameToUpperCase($event)">
          <div *ngIf="fullName.invalid && fullName.touched" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> Name is required.
          </div>
      </div>

      <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label class="control-label" for="emailId">Email</label>
        <input #email="ngModel" id="emailId" maxlength="200" type="text" class="form-control" required placeholder="Email address"
          name="email" [ngModel]="model.email">
          <div *ngIf="email.invalid && email.touched" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> Email is required.
          </div>
      </div>

      <div class="form-group" [class.has-error]="content.invalid && content.touched">
        <label class="control-label" for="contentId">Content</label>
        <textarea rows="4" cols="50" #content="ngModel" id="contentId" class="form-control" required placeholder="Content input"
          name="content" [ngModel]="model.content">
          </textarea>
          <div *ngIf="content.invalid && content.touched" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> Content is required.
          </div>
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>


    </form>

  </div>

</div>